body {
    background-color: #E9ECEF;
}

a {
    color: #343a40;
    text-decoration: none;
}

.lista {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

main {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    background-color: #ADB5BD;
    box-shadow: 5px 10px 20px #495057;
}

#art {
    width: 200px;
    display: inline-block;
    margin: 50px;
}

.fotos {
    width: 500px;
    height: 500px;
    margin-top: 2em;
}

#hab {
    padding: 2em;
}

.habs {
    padding: 1em;
}

#description {
    padding: 1.5em;
}

#footer {
    background-color: #212529;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

footer p a {

    color: white;
    margin-top: 10px;
}

footer p {
    color: white;
    padding-top: 20px;
}

#empatia {
    padding-bottom: 100px;
}

#des {
    padding-top: 50px;
}