body {
    background-color: #E9ECEF;

    font-family: 'Libre Bodoni', serif;
}

a {
    color: #343a40;
    text-decoration: none;
}

.lista {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

main {
    width: 940px;
    margin: 0 auto;
    text-align: center;

}

section {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    background-color: #ADB5BD;
    box-shadow: 5px 10px 20px #495057;
    border-radius: 5px;
    border: 1px solid #212529;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    margin-top: 20px;
}

#art {
    width: 200px;
    display: inline-block;
    margin-top: 50px;
}

.fotos {
    width: 500px;
    height: 500px;
    margin-top: 1em;
}

#hab {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
}

.habs {
    padding: 2em;
    font-family: 'Libre Bodoni', serif;
    text-align: center;
}

.habs2{
    font-family: 'Libre Bodoni', serif;
}

#description {
    padding: 1.5em;
}

#footer {
    background-color: #212529;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

footer p a {

    color: white;
    margin-top: 10px;
}

footer p {
    color: white;
    padding-top: 20px;
}

#empatia {
    padding-bottom: 50px;
}

#des {
    padding-top: 50px;
    font-size: 50px;
}

#carrosel {
    background-color: #495057;
    text-align: center;
    background-color: #ADB5BD;
    box-shadow: 5px 10px 20px #495057;
    border-radius: 5px;
    border: 1px solid #212529;
    font-size: 30px;
}

article {
    font-family: 'Indie Flower', cursive;
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 2em;
    padding: 1em;
}

article p {
    margin-left: 50px;
    font-size: 45px;
}

article h3 {
    margin-left: 50px;
    font-size: 60px;
    text-transform: uppercase;
}

#carrosel div p {
    font-family: 'Libre Bodoni', serif;
    /* padding-top: 50px; */
    margin-top: 50px;

    height: 50px;
}

nav {
    height: 70px;

}

#botao {
    margin-left: 1330px;
    position: fixed;
}

hr {
    border: 0;
    border-top: 5px solid #212529;
    opacity: 100%;
}