* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
body {
    background-color: #E9ECEF;
    font-family: 'Libre Bodoni', serif;
    color: black
} */

/* _____________________________________________NAV_____________________________________________________ */

.lista-ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    position: fixed;
    width: 100%;
    background-color: #212529;
    height: 70px;
    color: white;
    z-index: 1000;
    margin: 0;
}

.lista-ul a {
    color: #ffffff;
    text-decoration: none;
}

.lista-ul a:hover {
    color: black;
}

.lista {
    align-self: center;
    text-decoration: none;
    list-style: none;
}

#ham-bar {
    width: 40px;
}

#ham-bar:hover {
    filter: brightness(0%);
}

/* _____________________________________________________________________________________________________ */

.fotinha {
    background-image: url('/WhatsApp\ Image\ 2022-05-03\ at\ 18.54.18.jpeg');
    height: 100vh;
    background-size: cover;
    width: 100%;
    opacity: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.fotinha h1 {
    margin: 0 auto;
    color: white;
    background-color: #212529;
    font-family: 'VT323', monospace;
    font-size: 3rem;
}

/* _____________________________________________________________________________________________________ */

section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #ADB5BD;
    box-shadow: 5px 10px 20px #495057;
    border-radius: 5px;
    border: 1px solid #212529;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

#art {
    width: 80px;
    display: inline-block;
    margin-top: 50px;
}

.fotos {
    width: 70%;
    height: 400px;
    margin-top: 1em;
}

#hab {
    font-family: 'VT323', monospace;
    margin-top: 10px;
    height: 50px;
    font-size: 3rem;
    color: black;
}

.habs {
    padding: 2em;
    font-family: 'Libre Bodoni', serif;
    text-align: center;
}

.habs2 {
    font-family: 'Libre Bodoni', serif;
}

#description {
    padding: 1.5em;
}

#footer {
    background-color: #212529;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

footer p a {

    color: white;
    margin-top: 10px;
}

footer p {
    color: white;
    padding-top: 20px;
}

#empatia {
    padding-bottom: 50px;
}

#des {
    font-size: 3rem;
    color: black;
}

#carrosel {
    text-align: center;
    background-color: #495057;
    box-shadow: 5px 10px 20px #495057;
    border-radius: 5px;
    border: 1px solid #212529;
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
    color: black;
}

article {
    font-family: 'Indie Flower', cursive;
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 2em;
    padding: 1em;

}

article p {
    margin-left: 50px;
    font-size: 45px;
}

article h3 {
    margin-left: 50px;
    font-size: 60px;
    text-transform: uppercase;
}

#carrosel div p {
    font-family: 'VT323', monospace;
    margin-top: 50px;
    height: 50px;
    font-size: 3rem;
    margin-bottom: 50px;
}

#botao {
    margin-left: 1330px;
    position: fixed;
}

hr {
    border: 0;
    border-top: 2px solid #212529;
    opacity: 100%;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}



#img-tech {
    opacity: 100%;
    height: 400px;
}

#logo-proj {
    width: 60px;
    margin: 0 auto;
}

#soft-logo {
    width: 80px;
    margin: 0 auto;
    margin-top: 50px;
    filter: brightness(0%);
}

/* _____________________________________________________________________________________________________ */


.hiddenBar {
    visibility: hidden;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    position: fixed;
    height: 100vh;
    width: 500px;
    background-color: #212529;
    color: white;
    z-index: 1000;

}

.hiddenBar li {
    font-size: 1rem;
    list-style: none;
    padding: 20px;
}

.hiddenBar h5 {
    font-size: 2rem;
    list-style: none;
    padding: 20px;
}
#butn-X {
    font-size: 2rem;
    list-style: none;
    padding: 20px;
    margin-left: 450px;
    margin-top: 50px;
    }


#hidden {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}