Skip to content Search or jump to… Pull requests Issues Marketplace Explore @vidorartur vidorartur / vidorartur.github.io Public Code Issues Pull requests Actions Projects Wiki Security Insights Settings vidorartur.github.io/contato/style.css @vidorartur vidorartur adicionando contato Latest commit 25add12 28 minutes ago History 1 contributor 279 lines (219 sloc) 4.09 KB * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #E9ECEF;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;

}

/* _____________________________________________NAV_____________________________________________________ */

.nav-list {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    align-self: center;
    position: fixed;
    width: 100%;
    background-color: #212529;
    height: 70px;
    color: white;
    z-index: 1000;
    margin: 0;
    font-family: 'Libre Bodoni', serif;

}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-list a:hover {
    color: #FFBA08
}


.nav-link {
    color: #ffffff;
    align-self: center;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #E9ECEF;
}

main {}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.banner {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}


#forms {
    display: flex;
    justify-content: center;
    /* flex-flow: column wrap; */
    height: 800px;
    width: 80%;
    margin: 0 auto;
    background-color: #000000;
}

#form-container {
    width: 80%;
    margin: 0 auto;
    background-color: #0e0f10;
    color: #E9ECEF;
    padding: 50px 25px;
    height: 800px;
    padding-top: 100px;

}

.social-list {
    display: flex;
    justify-content: space-evenly;
}

.social-links {
    font-size: 30px;
    text-decoration: none;
    list-style: none;

}

.social-links a {
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    color: white;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

p {
    text-align: center;
}

a {
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    color: white;
}

footer a {
    font-size: 1rem;
}

/* ===================================================================================================== */

#footer {
    background-color: #212529;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    padding: 10px;

}

footer p a {

    color: white;
    margin-top: 10px;
}

footer p {
    color: white;
    padding-top: 20px;
}

/* +++++++++++++++++++++++++++++++++++++++++HiddenBar++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.hiddenBar {
    visibility: hidden;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    position: fixed;
    height: 100vh;
    width: 500px;
    background-color: #0e0f10;
    color: white;
    z-index: 1000;
    border: #ADB5BD solid 10px;

}

.hiddenBar li {
    font-size: 1.5rem;
    list-style: none;
    padding: 20px;
}

.hiddenBar li a {
    text-decoration: none;
    color: white;
}

.hiddenBar li a:hover {
    color: #FFBA08;
}

.hiddenBar h5 {
    font-size: 2rem;
    list-style: none;
    padding: 20px;
    margin-left: 25px;
}

#butn-X {
    font-size: 2rem;
    list-style: none;
    padding: 20px;
    margin-left: 400px;
    padding-top: 100px;
}

#butn-X:hover {
    color: #FFBA08;
}

#hidden {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    main {
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .nav-list a {
        font-size: 1rem;
    }

    .nav-list {
        display: flex;
        justify-content: space-around;
        align-content: flex-start;
    }

    #form-container{
        height: 900px;
    }

    #forms {
        width: 100%;
        height: 900px;

    }
    .social-list {
        display: flex;
        text-align: center;
    }
    
    .hiddenBar {
        width: 70%;
    }
    
    
    .hiddenBar li {
        font-size: 0.5rem;
        list-style: none;
        padding-top: 5px;
    }
    
    .hiddenBar h5 {
        font-size: 2rem;
        list-style: none;
        padding: 20px;
    
    }
    
    #butn-X {
        margin-left: 180px;
    }
    
    .social-list {
        margin-right: 25px;
    
    
    }
    
    .social-links a {
        width: 100%;
    
    }
}


