
.lista-ul {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
  align-self: center;
  position: fixed;
  width: 100%;
  background-color: #212529;
  height: 70px;
  color: white;
  z-index: 1000;
  margin: 0;
  font-family: 'Libre Bodoni', serif;

}

.lista-ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}

.lista-ul a:hover {
  color: #FFBA08
}


.lista {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
  list-style: none;
}


main {
  border: solid 1px black;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 50px black;
  width: 500px;
  margin: 152px auto;
  
}

#botao{
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}

.selected {
  background-color: gray;
  /* border: solid 1px black; */
}

.completed {
  text-decoration: line-through solid black;
}

#texto-tarefa {
  width: 250px;
  margin-bottom: 15px;
  margin-left: 10px;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
}

#mover-baixo,
#mover-cima {
  padding-left: 17px;
  padding-right: 17px;
}

header {
  padding: 20px;
  text-align: center;
}

#funcionamento {
  padding: 20px;
}

#apaga-tudo {
  width: 498px;
}
/* 
#remover-finalizados {
  margin-right: 0;
}

#remover-selecionado {
  margin-left: 5px;
} */

#remover-finalizados,
#remover-selecionado {
  width: 249px;

}

#criar-tarefa,
#salvar-tarefas {
  width: 200px;
}
#footer {
  background-color: #212529;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}

footer p a {

  color: white;
  margin-top: 10px;
}

footer p {
  color: white;
  padding-top: 20px;
}

.hiddenBar {
  visibility: hidden;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  position: fixed;
  height: 100vh;
  width: 500px;
  background-color: #0e0f10;
  color: white;
  z-index: 1000;
  border: #ADB5BD solid 10px;

}

.hiddenBar li {
  font-size: 1.5rem;
  list-style: none;
  padding: 20px;
}

.hiddenBar li a {
  text-decoration: none;
  color: white;
}

.hiddenBar li a:hover {
  color: #FFBA08;
}

.hiddenBar h5 {
  font-size: 2rem;
  list-style: none;
  padding: 20px;
  margin-left: 25px;
}

#butn-X {
  font-size: 2rem;
  list-style: none;
  padding: 20px;
  margin-left: 400px;
  padding-top: 100px;
}

#butn-X:hover {
  color: #FFBA08;
}

#hidden {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}